.content
  %h1 App Skeleton
  %p Use this as a starting point for your next Rails project.
  %p It includes the following:
  %ol
    %li Webpacker
    %li React
    %li HAML
    %li Bulma
  %p
    Just be sure to
    %i grep
    for 'skeleton' and replace it with your app name
